.header {
  background-color: #174c74;
  max-height: 51px;
  padding: 8px;
}

.faostat-logo-text {
  font-size: 22px;
  color: #ffffff;
  font-weight: 100;
}

.panel {
  .panel-heading {
    margin-bottom: 0;
  }
  .panel-body {
    margin-bottom: 0;
  }
  .panel-footer {
    margin-bottom: 0;
  }
}

.panel-footer-text {
  font-size: 0.7em;
  font-style: italic;
}